
services:
  app:
    build: .
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/app
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: mydb
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
